*{
    margin: 0;
    padding: 0;
    font-family:"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,sans-serif;
    color:#1b1b1b;
}

@media screen and (min-width: 501px){

.container{
    width:83vw;
    float: left;
    padding-left: 237px;
}

#main-visual{
    position:relative;
    width:83vw;
    height:100vh;
    background-size: cover;
    background-image:url(images/AbeHiroshi_gray2.png);
    object-fit: cover;
}

.menu-bar{
    float: left;
    width: 199px;
    margin: 0px 12px;
    background: #fff;
    padding-top: 100px;
    font-size: 17px;
    font-weight: bold;
    position:fixed;
}

nav a{
    position: relative;
    text-decoration: none;
}

.menu_3{
    width:55px;
}

.menu_4{
    width: 70px;
}

nav a:after{
   position: absolute;
   bottom: -4px;
   left: 0;
   content: '';
   width:100%;
   height:1.5px;
   background: #184587;
   transform: scale(0, 1);
   transform-origin: left top;
   transition: transform 0.3s;
}

nav a:hover::after {
   transform: scale(1, 1);
}


li{
    list-style:none;
    padding: 16px;
    width:90px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
}

.logo{
    display: block;
    font-size: 40px;
    font-family: "Sawarabi Mincho", serif; 
    width:250px;
    color:#fff;
    text-decoration: none;
    position:absolute;
    text-align: center;
    top:30px;
    right:20px;
    line-height: 45px;
}

#main-visual a{
    position: absolute;
    right:680px;
    top:430px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 700px;
    font-family: "Sawarabi Mincho", serif;
    font-size: 20px;
}

#main-visual a span{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #184587;
  border-radius: 100%; 
  padding: 20px;
  box-sizing: border-box;
  color: #184587;
  font-family: "Sawarabi Mincho", serif;
  
}

#main-visual a span::after {
  position: absolute;
  top: 55%;
  left: 50%;
  content: '';
  width: 20px;
  height: 20px;
  margin: -15px 0 0 -10px;
  border-left: 1px solid #184587;
  border-bottom: 1px solid #184587;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
     
}

#main-visual a span::before {
  position: absolute;
  top: 28%;
  left: 28px;
  z-index: -1;
  content: '';
  width: 45px;
  height: 45px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.4);
  border-radius: 100%;
  opacity: 0.4;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#whatsnew{
    padding-top: 30px;
}

h1{
    font-family: "Sawarabi Mincho" ,serif; 
    color:#184587;
    font-size: 30.65px;
    text-align: center;
    margin-top: 60px;
}

.whatsnew-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.contents{
    padding-left:250px;
}

.explain_show{
    width:83%
}

.place{
    display: flex;
    justify-content: flex-start;
}

h3{
    font-size: 23px;
    font-family: "Sawarabi Mincho",serif; 
    display:block;
    width:70px;
    height:250px;
    float: left;
    padding: 20px;
    margin-left: 130px;
}
.about_movie h3{
    height:100px;
}

.explain_movie{
    padding-left: 250px;
}

#profile{
    background-color: #f7f7f7;
}

#profile-container{
    padding: 100px;
    display: flex;
}

.left-box{
    padding-right: 70px;
    font-size: 18px;
}

p span{
   font-family: "Sawarabi Mincho", serif; 
    font-weight: bold;
}

.profile-top{
    padding-bottom: 50px;
}

#profile img{
    width:300px;
    height:300px;
    object-fit: cover;
}

.movie_contents h2{
    font-family: "Sawarabi Mincho", serif;
    margin-left: 35px;
    padding-top: 10px;
}

.category{
    text-align: left;
    margin-left:30px;
    padding-bottom: 20px;
}

#movie_intro p{
    padding: 40px;
    padding-left: 2%;
    padding-top: 50px;
}

#year_2020{
        background-color: #f7f7f7;
}

#year_2018{
    display: flex;
    flex-direction: column;
}

#year_2017{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.movie_contents img{
    width:160px;
    height:240px;
    object-fit: contain;
    padding-right: 55px;
}

.movie_contents{
    padding: 20px;
}

.movie_contents a{
    text-decoration: none;
}

#container_2020{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px;
    padding-top: 15px;
}

#container_2018{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px;
    padding-top: 5px;
}

#container_2017{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px;
    padding-top: 5px;
}
    

#book_1{
    background-color: #f7f7f7;
}

#book_2{
    margin-left: 200px;
}

#book_1 img{
    margin-right: 80px;
}

#book_2 img{
    margin-right: 120px;
}

.book_page{
    display: flex;
    justify-content: center;
    padding: 70px;
    font-size: 14px;
    height:60vh;
}

.book_page h2{
    font-family: "Sawarabi Mincho" ,serif; 
    font-size: 30px;
    margin-top: 100px;
}

.book_page p{
    padding: 45px 0px;
    font-size: 15px;
}

#kigeki{
    padding-right: 120px;
}

#higeki{
    padding-right: 120px;
}

.js-modal-open{
    color:#fff;
    text-decoration: none;
    background-color: #333;
    padding: 14px 99px;
    display:inline-block;
    font-size: 13px;
    border: 0.5px solid #184587;
}

.js-modal-open:hover{
    background: #fff;
    color: #184587;
    transition:0.5s;
}

.js-modal-close{
    background-color: #333;
    color:#fff;
    font-size: 35px;
    width: 35px;
    height: 35px;
    display:block;
    line-height: 35px;
    padding: 8px 10px;
    text-decoration: none;
    float: right;
}

.book_page img{
    width:350px;
}

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.modal_bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: fixed;
    left:0;
    width: 100vw;
}

.modal_content{
    background-color: #fff;
    left: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    height:50vh;
    width: 50%;
    position:relative;
}
    
.modal_content img{
    width:30%;
    opacity:0.3;
    position:absolute;
    top:30px;
    right:20px;
    z-index:-1;
}
.modal_content p{
    line-height:2;
    padding: 20px 30px;
    padding-top: 0;
}

.modal_content h2{
    padding-left: 40px;
    padding-bottom: 20px;
}

.modal_content h4{
    font-size: 17px;
    padding-left: 40px;
    
}

.btn_purchase{
    text-decoration: none;
    background: #333;
    color:#fff;
    padding: 10px 50px;
    font-size: 18px;
    display: block;
    text-align: center;
    width: 200px;
    margin: 10px auto;   
    z-index: 1;
}


#modal02_content{
    max-height:80vh;
    overflow: scroll;
}

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); 
    }
        
}

}

@media screen and (max-width: 500px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    
    #main-visual{
    position:relative;
    width:100vw;
    height:40vh;
    background-size: contain;
    background-image:url(images/AbeHiroshi_gray2.png);
    object-fit: cover;
    }
    
    .container{
    width:100vw;
    float: left;
    }
    
    .logo{
    display: block;
    font-size: 20px;
    font-family: "Sawarabi Mincho", serif; 
    width:120px;
    color:#fff;
    text-decoration: none;
    position:absolute;
    text-align: center;
    top:30px;
    right:30px;
    line-height: 25px;
    }
    
    #whatsnew{
    padding: 40px 80px;
    font-size: 12px;
    }
    
    h1{
    font-family: "Sawarabi Mincho" ,serif; 
    color:#184587;
    font-size: 20.65px;
    text-align: center;    
    }
    
    .about_show{
        height:65%;
    }
    
    .about_movie{
        height:30%;
    }
    
    .whatsnew-container{
    height:75vh;
    }
    
    #profile{
    padding: 80px;
    padding-top: 0px;
    font-size: 12px;
    }
    
    #profile img{
    width:150px;
    height: 150px;
    object-fit: cover;
    float: right;
    padding: 10px;
    }
    
    .menu-bar{
        display:none;
    }
    
    nav a{
        display: none;
    }
    
    #main-visual{
        100vw;
    }
}